torch
torchvision
clu==0.0.6
flax==0.4.1
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda]==0.4.1
# jax==0.4.1
# jaxlib==0.4.1+cuda11.cudnn82  # Make sure CUDA version matches the base image.
ml-collections==0.1.0
numpy==1.22.0
optax==0.1.4
tensorboard==2.9.1
tensorflow==2.9.3
tqdm
gymnasium