torch
torchvision
clu==0.0.6
flax==0.6.1
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax==0.3.25
jaxlib==0.3.25+cuda11.cudnn82  # Make sure CUDA version matches the base image.
ml-collections==0.1.0
numpy==1.22.0
optax==0.1.4
tensorboard==2.9.1
tensorflow==2.9.3
pytest
tqdm
gymnasium[atari]
autorom[accept-rom-license]